Source: mwbzutils
Section: misc
Priority: extra
Maintainer: Ariel T. Glenn <ariel@wikimedia.org>
Build-Depends: debhelper (>= 8.0.0), libbz2-1.0, zlib1g
Standards-Version: 3.9.2
Homepage: https://www.mediawiki.org/wiki/Manual:Mwbzutils
Vcs-Git: git clone https://gerrit.wikimedia.org/r/operations/dumps/mwbzutils
Vcs-Browser: https://phabricator.wikimedia.org/source/operations-dumps-mwbzutils/

Package: mwbzutils
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libbz2-dev, zlib1g-dev
Description: C utilities for processing bzipped MediaWiki XML files
 C utilities for manipulating bzip compressed MediaWiki XML files:
 elementary integrity checking, retrieving partial content, dumping
 the last bzip2 block from a possibly truncated file, dumping page
 metadata/content from a given offset in a file
