#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@


override_dh_usrlocal:

override_dh_installchangelogs:
	install --mode=644 $(CURDIR)/debian/changelog $(DEB_DESTDIR)debian/mwbzutils/usr/local/share/doc/mwbzutils

override_dh_installdocs:
	install --mode=644 $(CURDIR)/debian/README.Debian $(DEB_DESTDIR)debian/mwbzutils/usr/local/share/doc/mwbzutils
	install --mode=644 $(CURDIR)/debian/copyright $(DEB_DESTDIR)debian/mwbzutils/usr/local/share/doc/mwbzutils
